@font-face {
    font-family: 'Amatic SC';
    src: url('Amatic/AmaticSC-Regular.woff2') format('woff2'),
        url('Amatic/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Amatic SC', system-ui, Roboto, 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


.container {
  display: flex;
  height: 70vh;
  width: 70vh;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
  border: 3px solid black;
}

.row:nth-child(2), .row:nth-child(3) {
  border-top: 0;
}

.col {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
}

.col:last-child {
  border-right: 0;
}

img {
  height: 7rem;
  width: auto;
  pointer-events: none;
}

dialog#end-dialog {
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  border: 0;
  outline: 0;
}

dialog#start-dialog {
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  height: 30vh;
  width: 30vh;
  border: 0;
  outline: 0;
}

label {
  font-size: 2rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}
button {
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  height: 6rem;
  font-size: 3rem;
  padding: 15px;
}

button#confirm {
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  height: 3rem;
  font-size: 1.5rem;
  padding: 15px;
}

.buttons {
  display: flex;
  width: 60vw;
  justify-content: space-around;
  padding: 30px;
}
