@font-face {
    font-family: 'Amatic SC';
    src: url('Amatic/AmaticSC-Regular.woff2') format('woff2'),
        url('Amatic/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


.container {
  display: flex;
  height: 70vh;
  width: 70vh;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
  border: 3px solid black;
}

.row:nth-child(2), .row:nth-child(3) {
  border-top: 0;
}

.col {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
}

.col:last-child {
  border-right: 0;
}

img {
  height: 7rem;
  width: auto;
}